.eyestr_0_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_0_2 {fill:#1F1A17}
.eyefil_0_0 {fill:#D39886}
.eyefil_0_1 {fill:white}

.eyestr_1_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_1_1 {fill:#1F1A17}
.eyefil_1_2 {fill:#D49F8D}
.eyefil_1_0 {fill:white}

.eyestr_2_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_2_3 {fill:none}
.eyefil_2_2 {fill:#1F1A17}
.eyefil_2_0 {fill:#D99E8E}
.eyefil_2_1 {fill:white}

.eyestr_3_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_3_2 {fill:#1F1A17}
.eyefil_3_0 {fill:#D49F8D}
.eyefil_3_1 {fill:white}

.eyefil_4_1 {fill:#1F1A17}
.eyefil_4_2 {fill:#D49F8D}
.eyefil_4_0 {fill:white}

.eyestr_5_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_5_1 {fill:#1F1A17}
.eyefil_5_2 {fill:#D99E8E}
.eyefil_5_0 {fill:white}

.eyefil_6_2 {fill:black}
.eyefil_6_3 {fill:#1F1A17}
.eyefil_6_0 {fill:#D49F8D}
.eyefil_6_1 {fill:white}

.eyefil_7_2 {fill:black}
.eyefil_7_3 {fill:#1F1A17}
.eyefil_7_0 {fill:#D49F8D}
.eyefil_7_1 {fill:white}

.eyestr_8_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_8_2 {fill:#1A1D1E}
.eyefil_8_3 {fill:#1F1A17}
.eyefil_8_1 {fill:#262829}
.eyefil_8_0 {fill:#ECEAEA}
.eyefil_8_4 {fill:white}

.eyestr_9_0 {stroke:#1F1A17;stroke-width:7.62}
.eyefil_9_0 {fill:#000205}
.eyefil_9_1 {fill:#030305}

.eyestr_10_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_10_1 {fill:#1F1A17}
.eyefil_10_2 {fill:#D49F8D}
.eyefil_10_0 {fill:white}

.eyestr_11_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_11_2 {fill:#1F1A17}
.eyefil_11_0 {fill:#D39886}
.eyefil_11_3 {fill:#D49F8D}
.eyefil_11_1 {fill:white}

.eyestr_12_0 {stroke:#1F1A17;stroke-width:20}
.eyestr_12_1 {stroke:#1F1A17;stroke-width:25}
.eyefil_12_2 {fill:none}
.eyefil_12_1 {fill:#1F1A17}
.eyefil_12_3 {fill:#D49F8D}
.eyefil_12_0 {fill:white}

.eyestr_13_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_13_2 {fill:#1F1A17}
.eyefil_13_0 {fill:#D39886}
.eyefil_13_1 {fill:white}

.eyestr_14_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_14_1 {fill:#1F1A17}
.eyefil_14_2 {fill:#D49F8D}
.eyefil_14_0 {fill:white}

.eyestr_15_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_15_1 {fill:#1F1A17}
.eyefil_15_2 {fill:#D49F8D}
.eyefil_15_0 {fill:white}

.eyestr_16_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_16_3 {fill:none}
.eyefil_16_2 {fill:#1F1A17}
.eyefil_16_0 {fill:#D99E8E}
.eyefil_16_1 {fill:white}

.eyestr_17_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_17_1 {fill:#1F1A17}
.eyefil_17_2 {fill:#D49F8D}
.eyefil_17_0 {fill:white}

.eyestr_18_0 {stroke:#1F1A17;stroke-width:7.62}
.eyestr_18_1 {stroke:#1F1A17;stroke-width:20}
.eyefil_18_1 {fill:#1F1A17}
.eyefil_18_0 {fill:white}

.eyestr_19_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_19_1 {fill:#1F1A17}
.eyefil_19_2 {fill:#D49F8D}
.eyefil_19_0 {fill:white}

.eyestr_20_0 {stroke:#1F1A17;stroke-width:20}
.eyestr_20_1 {stroke:#1F1A17;stroke-width:25}
.eyefil_20_2 {fill:none}
.eyefil_20_1 {fill:#1F1A17}
.eyefil_20_3 {fill:#D49F8D}
.eyefil_20_0 {fill:white}

.eyestr_21_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_21_2 {fill:#1F1A17}
.eyefil_21_0 {fill:#D39886}
.eyefil_21_1 {fill:white}

.eyestr_22_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_22_1 {fill:#1F1A17}
.eyefil_22_0 {fill:white}

.eyestr_23_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_23_3 {fill:none}
.eyefil_23_1 {fill:#1F1A17}
.eyefil_23_2 {fill:#D49F8D}
.eyefil_23_0 {fill:white}

.eyestr_24_0 {stroke:#1F1A17;stroke-width:50}
.eyefil_24_2 {fill:none}
.eyefil_24_1 {fill:#1F1A17}
.eyefil_24_4 {fill:#D39886}
.eyefil_24_3 {fill:#D49F8D}
.eyefil_24_0 {fill:white}

.eyestr_25_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_25_2 {fill:#1F1A17}
.eyefil_25_0 {fill:#D39886}
.eyefil_25_3 {fill:#D49F8D}
.eyefil_25_1 {fill:white}

.eyestr_26_0 {stroke:#1F1A17;stroke-width:20}
.eyestr_26_1 {stroke:#1F1A17;stroke-width:25}
.eyefil_26_2 {fill:none}
.eyefil_26_1 {fill:#1F1A17}
.eyefil_26_3 {fill:#D49F8D}
.eyefil_26_0 {fill:white}

.eyestr_27_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_27_2 {fill:#1F1A17}
.eyefil_27_0 {fill:#D39886}
.eyefil_27_1 {fill:white}

.eyestr_28_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_28_2 {fill:#1F1A17}
.eyefil_28_0 {fill:#D39886}
.eyefil_28_1 {fill:white}

.eyestr_29_0 {stroke:#1F1A17;stroke-width:20}
.eyefil_29_2 {fill:#1F1A17}
.eyefil_29_0 {fill:#D39886}
.eyefil_29_1 {fill:white}

.eyebrowstr_0_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_0_1 {fill:#1F1A17}
.eyebrowfil_0_0 {fill:#D49F8D}

.eyebrowstr_1_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_1_0 {fill:#1F1A17}

.eyebrowstr_2_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_2_1 {fill:#1F1A17}
.eyebrowfil_2_0 {fill:#D49F8D}

.eyebrowstr_3_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_3_1 {fill:#1F1A17}
.eyebrowfil_3_0 {fill:#D49F8D}

.eyebrowfil_4_1 {fill:#383431}
.eyebrowfil_4_0 {fill:#D39886}

.eyebrowfil_5_1 {fill:#1F1A17}
.eyebrowfil_5_0 {fill:#D39886}

.eyebrowfil_6_1 {fill:#1F1A17}
.eyebrowfil_6_0 {fill:#D49F8D}

.eyebrowfil_7_1 {fill:#1F1A17}
.eyebrowfil_7_0 {fill:#D49F8D}

.eyebrowstr_8_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_8_1 {fill:#1F1A17}
.eyebrowfil_8_0 {fill:#D49F8D}

.eyebrowfil_9_1 {fill:#1F1A17}
.eyebrowfil_9_0 {fill:#D49F8D}

.eyebrowstr_10_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_10_1 {fill:#1F1A17}
.eyebrowfil_10_0 {fill:#D39886}

.eyebrowfil_11_1 {fill:#1F1A17}
.eyebrowfil_11_0 {fill:#D49F8D}

.eyebrowfil_12_1 {fill:#1F1A17}
.eyebrowfil_12_0 {fill:#D49F8D}

.eyebrowfil_13_1 {fill:#1F1A17}
.eyebrowfil_13_0 {fill:#D39886}

.eyebrowfil_14_1 {fill:#1F1A17}
.eyebrowfil_14_0 {fill:#D49F8D}

.eyebrowfil_15_2 {fill:#1F1A17}
.eyebrowfil_15_0 {fill:#5B5B5C}
.eyebrowfil_15_1 {fill:#D99E8E}

.eyebrowfil_16_1 {fill:#1F1A17}
.eyebrowfil_16_0 {fill:#D49F8D}

.eyebrowfil_17_1 {fill:#1F1A17}
.eyebrowfil_17_0 {fill:#2B2C33}
.eyebrowfil_17_2 {fill:#D49F8D}

.eyebrowstr_18_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_18_1 {fill:#1F1A17}
.eyebrowfil_18_0 {fill:#D99E8E}

.eyebrowstr_19_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_19_1 {fill:#1F1A17}
.eyebrowfil_19_0 {fill:#D99E8E}

.eyebrowfil_20_1 {fill:#1F1A17}
.eyebrowfil_20_0 {fill:#D99E8E}

.eyebrowstr_21_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_21_1 {fill:#1F1A17}
.eyebrowfil_21_0 {fill:#D99E8E}

.eyebrowstr_22_0 {stroke:#1F1A17;stroke-width:7.62}
.eyebrowfil_22_1 {fill:#000105}
.eyebrowfil_22_2 {fill:#030305}
.eyebrowfil_22_3 {fill:#070000}
.eyebrowfil_22_0 {fill:#D89688}

.eyebrowstr_23_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_23_1 {fill:#1F1A17}
.eyebrowfil_23_0 {fill:#D49F8D}

.eyebrowstr_24_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_24_1 {fill:#1F1A17}
.eyebrowfil_24_0 {fill:#D49F8D}

.eyebrowstr_25_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_25_1 {fill:#1F1A17}
.eyebrowfil_25_0 {fill:#D49F8D}

.eyebrowstr_26_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_26_1 {fill:#1F1A17}
.eyebrowfil_26_0 {fill:#D39886}

.eyebrowstr_27_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_27_1 {fill:#1F1A17}
.eyebrowfil_27_0 {fill:#D49F8D}

.eyebrowstr_28_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_28_1 {fill:#1F1A17}
.eyebrowfil_28_0 {fill:#D49F8D}

.eyebrowstr_29_0 {stroke:#1F1A17;stroke-width:20}
.eyebrowfil_29_0 {fill:#1F1A17}

.facestr_0_1 {stroke:#1F1A17;stroke-width:150}
.facestr_0_0 {stroke:black;stroke-width:300}
.facefil_0_5 {fill:none}
.facefil_0_4 {fill:#E29D96}
.facefil_0_3 {fill:#F9CFB9}
.facefil_0_2 {fill:#FBE9DD}
.facefil_0_1 {fill:#FCCFBC}
.facefil_0_0 {fill:#FCE8DD}

.facestr_1_0 {stroke:#1F1A17;stroke-width:100}
.facestr_1_1 {stroke:#1F1A17;stroke-width:150}
.facefil_1_6 {fill:none}
.facefil_1_2 {fill:#D49F8D}
.facefil_1_5 {fill:#E29D96}
.facefil_1_4 {fill:#F9CFB9}
.facefil_1_3 {fill:#FBE9DD}
.facefil_1_1 {fill:#FCCFBC}
.facefil_1_0 {fill:#FCE8DD}

.facestr_2_0 {stroke:#1F1A17;stroke-width:100}
.facestr_2_1 {stroke:#1F1A17;stroke-width:150}
.facefil_2_5 {fill:none}
.facefil_2_4 {fill:#E29D96}
.facefil_2_3 {fill:#F9CFB9}
.facefil_2_2 {fill:#FBE9DD}
.facefil_2_1 {fill:#FCCFBC}
.facefil_2_0 {fill:#FCE8DD}

.facestr_3_0 {stroke:#1F1A17;stroke-width:100}
.facestr_3_1 {stroke:#1F1A17;stroke-width:150}
.facefil_3_5 {fill:none}
.facefil_3_4 {fill:#E29D96}
.facefil_3_3 {fill:#F9CFB9}
.facefil_3_2 {fill:#FBE9DD}
.facefil_3_1 {fill:#FCCFBC}
.facefil_3_0 {fill:#FCE8DD}

.facestr_4_0 {stroke:#1F1A17;stroke-width:100}
.facestr_4_1 {stroke:#1F1A17;stroke-width:150}
.facefil_4_3 {fill:none}
.facefil_4_2 {fill:#E29D96}
.facefil_4_1 {fill:#F9CFB9}
.facefil_4_0 {fill:#FBE9DD}
.facefil_4_5 {fill:#FCCFBC}
.facefil_4_4 {fill:#FCE8DD}

.facestr_5_0 {stroke:#1F1A17;stroke-width:100}
.facestr_5_1 {stroke:#1F1A17;stroke-width:150}
.facefil_5_5 {fill:none}
.facefil_5_4 {fill:#E29D96}
.facefil_5_3 {fill:#F9CFB9}
.facefil_5_2 {fill:#FBE9DD}
.facefil_5_1 {fill:#FCCFBC}
.facefil_5_0 {fill:#FCE8DD}

.facestr_6_0 {stroke:#1F1A17;stroke-width:100}
.facestr_6_1 {stroke:#1F1A17;stroke-width:150}
.facefil_6_5 {fill:none}
.facefil_6_4 {fill:#E29D96}
.facefil_6_3 {fill:#F9CFB9}
.facefil_6_2 {fill:#FBE9DD}
.facefil_6_1 {fill:#FCCFBC}
.facefil_6_0 {fill:#FCE8DD}

.facestr_7_0 {stroke:#1F1A17;stroke-width:100}
.facestr_7_1 {stroke:#1F1A17;stroke-width:150}
.facefil_7_5 {fill:none}
.facefil_7_4 {fill:#E29D96}
.facefil_7_3 {fill:#F9CFB9}
.facefil_7_2 {fill:#FBE9DD}
.facefil_7_1 {fill:#FCCFBC}
.facefil_7_0 {fill:#FCE8DD}

.facestr_8_0 {stroke:#1F1A17;stroke-width:100}
.facestr_8_1 {stroke:#1F1A17;stroke-width:150}
.facefil_8_7 {fill:none}
.facefil_8_3 {fill:#1F1A17}
.facefil_8_2 {fill:#D49F8D}
.facefil_8_6 {fill:#E29D96}
.facefil_8_5 {fill:#F9CFB9}
.facefil_8_4 {fill:#FBE9DD}
.facefil_8_1 {fill:#FCCFBC}
.facefil_8_0 {fill:#FCE8DD}

.facestr_9_0 {stroke:#1F1A17;stroke-width:100}
.facestr_9_1 {stroke:#1F1A17;stroke-width:150}
.facefil_9_3 {fill:none}
.facefil_9_6 {fill:#D49F8D}
.facefil_9_2 {fill:#E29D96}
.facefil_9_1 {fill:#F9CFB9}
.facefil_9_4 {fill:#FAD8CB}
.facefil_9_0 {fill:#FBE9DD}
.facefil_9_5 {fill:#FCCFBC}

.facestr_10_0 {stroke:#1F1A17;stroke-width:100}
.facestr_10_1 {stroke:#1F1A17;stroke-width:150}
.facefil_10_5 {fill:none}
.facefil_10_4 {fill:#E29D96}
.facefil_10_3 {fill:#F9CFB9}
.facefil_10_2 {fill:#FBE9DD}
.facefil_10_1 {fill:#FCCFBC}
.facefil_10_0 {fill:#FCE8DD}

.facestr_11_0 {stroke:#1F1A17;stroke-width:100}
.facestr_11_1 {stroke:#1F1A17;stroke-width:150}
.facefil_11_5 {fill:none}
.facefil_11_4 {fill:#E29D96}
.facefil_11_3 {fill:#F9CFB9}
.facefil_11_2 {fill:#FBE9DD}
.facefil_11_1 {fill:#FCCFBC}
.facefil_11_0 {fill:#FCE8DD}

.facestr_12_0 {stroke:#1F1A17;stroke-width:100}
.facestr_12_1 {stroke:#1F1A17;stroke-width:150}
.facefil_12_3 {fill:none}
.facefil_12_6 {fill:#D39886}
.facefil_12_2 {fill:#E29D96}
.facefil_12_1 {fill:#F9CFB9}
.facefil_12_0 {fill:#FBE9DD}
.facefil_12_5 {fill:#FCCFBC}
.facefil_12_4 {fill:#FCE8DD}

.facestr_13_0 {stroke:#1F1A17;stroke-width:100}
.facestr_13_1 {stroke:#1F1A17;stroke-width:150}
.facefil_13_3 {fill:none}
.facefil_13_6 {fill:#D39886}
.facefil_13_2 {fill:#E29D96}
.facefil_13_1 {fill:#F9CFB9}
.facefil_13_0 {fill:#FBE9DD}
.facefil_13_5 {fill:#FCCFBC}
.facefil_13_4 {fill:#FCE8DD}

.facestr_14_0 {stroke:#1F1A17;stroke-width:100}
.facestr_14_1 {stroke:#1F1A17;stroke-width:150}
.facefil_14_5 {fill:none}
.facefil_14_4 {fill:#E29D96}
.facefil_14_3 {fill:#F9CFB9}
.facefil_14_2 {fill:#FBE9DD}
.facefil_14_1 {fill:#FCCFBC}
.facefil_14_0 {fill:#FCE8DD}

.facestr_15_0 {stroke:#1F1A17;stroke-width:100}
.facestr_15_1 {stroke:#1F1A17;stroke-width:150}
.facefil_15_3 {fill:none}
.facefil_15_2 {fill:#E29D96}
.facefil_15_1 {fill:#F9CFB9}
.facefil_15_0 {fill:#FBE9DD}
.facefil_15_5 {fill:#FCCFBC}
.facefil_15_4 {fill:#FCE8DD}

.facestr_16_0 {stroke:#1F1A17;stroke-width:100}
.facestr_16_1 {stroke:#1F1A17;stroke-width:150}
.facefil_16_5 {fill:none}
.facefil_16_4 {fill:#E29D96}
.facefil_16_3 {fill:#F9CFB9}
.facefil_16_2 {fill:#FBE9DD}
.facefil_16_1 {fill:#FCCFBC}
.facefil_16_0 {fill:#FCE8DD}

.facestr_17_0 {stroke:#1F1A17;stroke-width:100}
.facestr_17_1 {stroke:#1F1A17;stroke-width:150}
.facefil_17_5 {fill:none}
.facefil_17_4 {fill:#E29D96}
.facefil_17_3 {fill:#F9CFB9}
.facefil_17_2 {fill:#FBE9DD}
.facefil_17_1 {fill:#FCCFBC}
.facefil_17_0 {fill:#FCE8DD}

.facestr_18_0 {stroke:#1F1A17;stroke-width:100}
.facestr_18_1 {stroke:#1F1A17;stroke-width:150}
.facefil_18_5 {fill:none}
.facefil_18_4 {fill:#E29D96}
.facefil_18_3 {fill:#F9CFB9}
.facefil_18_2 {fill:#FBE9DD}
.facefil_18_1 {fill:#FCCFBC}
.facefil_18_0 {fill:#FCE8DD}

.facestr_19_0 {stroke:#1F1A17;stroke-width:100}
.facestr_19_1 {stroke:#1F1A17;stroke-width:150}
.facefil_19_5 {fill:none}
.facefil_19_4 {fill:#E29D96}
.facefil_19_3 {fill:#F9CFB9}
.facefil_19_2 {fill:#FBE9DD}
.facefil_19_1 {fill:#FCCFBC}
.facefil_19_0 {fill:#FCE8DD}

.facestr_20_0 {stroke:#1F1A17;stroke-width:100}
.facestr_20_1 {stroke:#1F1A17;stroke-width:150}
.facefil_20_5 {fill:none}
.facefil_20_4 {fill:#E29D96}
.facefil_20_3 {fill:#F9CFB9}
.facefil_20_2 {fill:#FBE9DD}
.facefil_20_1 {fill:#FCCFBC}
.facefil_20_0 {fill:#FCE8DD}

.facestr_21_0 {stroke:#1F1A17;stroke-width:100}
.facestr_21_1 {stroke:#1F1A17;stroke-width:150}
.facefil_21_5 {fill:none}
.facefil_21_4 {fill:#E29D96}
.facefil_21_3 {fill:#F9CFB9}
.facefil_21_2 {fill:#FBE9DD}
.facefil_21_1 {fill:#FCCFBC}
.facefil_21_0 {fill:#FCE8DD}

.facestr_22_0 {stroke:#1F1A17;stroke-width:100}
.facestr_22_1 {stroke:#1F1A17;stroke-width:150}
.facefil_22_3 {fill:none}
.facefil_22_2 {fill:#E29D96}
.facefil_22_1 {fill:#F9CFB9}
.facefil_22_0 {fill:#FBE9DD}
.facefil_22_5 {fill:#FCCFBC}
.facefil_22_4 {fill:#FCE8DD}

.facestr_23_0 {stroke:#1F1A17;stroke-width:100}
.facestr_23_1 {stroke:#1F1A17;stroke-width:150}
.facefil_23_3 {fill:none}
.facefil_23_6 {fill:#D99E8E}
.facefil_23_2 {fill:#E29D96}
.facefil_23_1 {fill:#F9CFB9}
.facefil_23_0 {fill:#FBE9DD}
.facefil_23_5 {fill:#FCCFBC}
.facefil_23_4 {fill:#FCE8DD}

.facestr_24_0 {stroke:#1F1A17;stroke-width:100}
.facestr_24_1 {stroke:#1F1A17;stroke-width:150}
.facefil_24_3 {fill:none}
.facefil_24_6 {fill:#D49F8D}
.facefil_24_2 {fill:#E29D96}
.facefil_24_1 {fill:#F9CFB9}
.facefil_24_0 {fill:#FBE9DD}
.facefil_24_5 {fill:#FCCFBC}
.facefil_24_4 {fill:#FCE8DD}

.facestr_25_0 {stroke:#1F1A17;stroke-width:100}
.facestr_25_1 {stroke:#1F1A17;stroke-width:150}
.facefil_25_5 {fill:none}
.facefil_25_4 {fill:#E29D96}
.facefil_25_3 {fill:#F9CFB9}
.facefil_25_2 {fill:#FBE9DD}
.facefil_25_1 {fill:#FCCFBC}
.facefil_25_0 {fill:#FCE8DD}

.facestr_26_0 {stroke:#1F1A17;stroke-width:100}
.facestr_26_1 {stroke:#1F1A17;stroke-width:150}
.facefil_26_6 {fill:none}
.facefil_26_1 {fill:#D99E8E}
.facefil_26_5 {fill:#E29D96}
.facefil_26_4 {fill:#F9CFB9}
.facefil_26_3 {fill:#FBE9DD}
.facefil_26_2 {fill:#FCCFBC}
.facefil_26_0 {fill:#FCE8DD}

.facestr_27_0 {stroke:#1F1A17;stroke-width:100}
.facestr_27_1 {stroke:#1F1A17;stroke-width:150}
.facefil_27_6 {fill:none}
.facefil_27_1 {fill:#D39886}
.facefil_27_5 {fill:#E29D96}
.facefil_27_4 {fill:#F9CFB9}
.facefil_27_3 {fill:#FBE9DD}
.facefil_27_2 {fill:#FCCFBC}
.facefil_27_0 {fill:#FCE8DD}

.facestr_28_0 {stroke:#1F1A17;stroke-width:100}
.facestr_28_1 {stroke:#1F1A17;stroke-width:150}
.facefil_28_5 {fill:none}
.facefil_28_4 {fill:#E29D96}
.facefil_28_3 {fill:#F9CFB9}
.facefil_28_2 {fill:#FBE9DD}
.facefil_28_1 {fill:#FCCFBC}
.facefil_28_0 {fill:#FCE8DD}

.facestr_29_0 {stroke:#1F1A17;stroke-width:100}
.facestr_29_1 {stroke:#1F1A17;stroke-width:150}
.facefil_29_5 {fill:none}
.facefil_29_4 {fill:#E29D96}
.facefil_29_3 {fill:#F9CFB9}
.facefil_29_2 {fill:#FBE9DD}
.facefil_29_1 {fill:#FCCFBC}
.facefil_29_0 {fill:#FCE8DD}

.hairstr_0_0 {stroke:#1F1A17;stroke-width:7.62}
.hairfil_0_0 {fill:black}
.hairfil_0_1 {fill:#5B5B5C}

.hairstr_1_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_1_0 {fill:#1F1A17}

.hairstr_2_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_2_1 {fill:#1F1A17}
.hairfil_2_0 {fill:#5B5B5C}

.hairstr_3_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_3_0 {fill:#1F1A17}

.hairstr_4_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_4_0 {fill:#1F1A17}
.hairfil_4_1 {fill:#5B5B5C}

.hairstr_5_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_5_0 {fill:#1F1A17}
.hairfil_5_1 {fill:#5B5B5C}

.hairstr_6_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_6_1 {fill:#1F1A17}
.hairfil_6_0 {fill:#4D4948}

.hairstr_7_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_7_0 {fill:#1F1A17}
.hairfil_7_1 {fill:#5B5B5C}

.hairstr_8_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_8_0 {fill:#1F1A17}

.hairstr_9_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_9_0 {fill:#1F1A17}
.hairfil_9_1 {fill:#5B5B5C}

.hairstr_10_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_10_0 {fill:#1F1A17}
.hairfil_10_1 {fill:#5B5B5C}

.hairstr_11_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_11_0 {fill:#1F1A17}
.hairfil_11_1 {fill:#5B5B5C}

.hairstr_12_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_12_0 {fill:#1F1A17}
.hairfil_12_1 {fill:#5B5B5C}

.hairstr_13_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_13_0 {fill:#1F1A17}
.hairfil_13_1 {fill:#5B5B5C}

.hairstr_14_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_14_0 {fill:#1F1A17}
.hairfil_14_1 {fill:#5B5B5C}

.hairstr_15_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_15_0 {fill:#1F1A17}
.hairfil_15_1 {fill:#5B5B5C}

.hairstr_16_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_16_0 {fill:#1F1A17}
.hairfil_16_1 {fill:#5B5B5C}

.hairstr_17_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_17_0 {fill:#1F1A17}
.hairfil_17_1 {fill:#5B5B5C}

.hairstr_18_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_18_0 {fill:#1F1A17}
.hairfil_18_1 {fill:#5B5B5C}

.hairstr_19_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_19_0 {fill:#1F1A17}
.hairfil_19_1 {fill:#5B5B5C}

.hairstr_20_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_20_0 {fill:#1F1A17}
.hairfil_20_1 {fill:#5B5B5C}

.hairstr_21_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_21_0 {fill:#1F1A17}
.hairfil_21_1 {fill:#5B5B5C}

.hairstr_22_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_22_0 {fill:#1F1A17}
.hairfil_22_1 {fill:#5B5B5C}

.hairstr_23_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_23_0 {fill:#1F1A17}
.hairfil_23_1 {fill:#5B5B5C}

.hairstr_24_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_24_0 {fill:#1F1A17}
.hairfil_24_1 {fill:#5B5B5C}

.hairstr_25_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_25_1 {fill:#1F1A17}
.hairfil_25_0 {fill:#5B5B5C}

.hairstr_26_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_26_0 {fill:#1F1A17}
.hairfil_26_1 {fill:#5B5B5C}

.hairstr_27_0 {stroke:#1F1A17;stroke-width:7.62}
.hairfil_27_0 {fill:black}
.hairfil_27_1 {fill:#5B5B5C}

.hairstr_28_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_28_0 {fill:#1F1A17}
.hairfil_28_1 {fill:#211B18}
.hairfil_28_2 {fill:#352E2D}

.hairstr_29_0 {stroke:#1F1A17;stroke-width:20}
.hairfil_29_0 {fill:#1E2224}
.hairfil_29_4 {fill:#595959}
.hairfil_29_2 {fill:#5B5B5C}
.hairfil_29_1 {fill:#626667}
.hairfil_29_3 {fill:#636465}

.mouthstr_0_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_0_1 {fill:#1F1A17}
.mouthfil_0_2 {fill:#3B2F2B}
.mouthfil_0_0 {fill:#D49F8D}

.mouthstr_1_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_1_1 {fill:#1F1A17}
.mouthfil_1_0 {fill:#D49F8D}
.mouthfil_1_2 {fill:#D99E8E}

.mouthstr_2_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_2_2 {fill:none}
.mouthfil_2_1 {fill:#1F1A17}
.mouthfil_2_0 {fill:#D99E8E}

.mouthstr_3_0 {stroke:#1F1A17;stroke-width:50}
.mouthfil_3_2 {fill:none}
.mouthfil_3_0 {fill:#1F1A17}
.mouthfil_3_1 {fill:#D39886}
.mouthfil_3_3 {fill:#D49F8D}

.mouthfil_4_1 {fill:#1F1A17}
.mouthfil_4_2 {fill:#838281}
.mouthfil_4_0 {fill:#D99E8E}

.mouthstr_5_1 {stroke:#1F1A17;stroke-width:20}
.mouthstr_5_0 {stroke:#1F1A17;stroke-width:50}
.mouthfil_5_3 {fill:none}
.mouthfil_5_2 {fill:#1F1A17}
.mouthfil_5_1 {fill:#D39886}
.mouthfil_5_0 {fill:#D99E8E}

.mouthstr_6_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_6_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_6_2 {fill:none}
.mouthfil_6_0 {fill:#1F1A17}
.mouthfil_6_1 {fill:#D39886}

.mouthstr_7_0 {stroke:#1F1A17;stroke-width:10}
.mouthstr_7_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_7_2 {fill:none}
.mouthfil_7_0 {fill:#272B2C}
.mouthfil_7_1 {fill:#D39886}

.mouthstr_8_0 {stroke:#1F1A17;stroke-width:250}
.mouthfil_8_2 {fill:none}
.mouthfil_8_0 {fill:#000002}
.mouthfil_8_1 {fill:#D39886}

.mouthstr_9_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_9_0 {fill:#1F1A17}
.mouthfil_9_1 {fill:#D49F8D}

.mouthstr_10_1 {stroke:#1F1A17;stroke-width:75}
.mouthstr_10_0 {stroke:#1F1A17;stroke-width:100}
.mouthfil_10_2 {fill:none}
.mouthfil_10_3 {fill:#1F1A17}
.mouthfil_10_1 {fill:#D49F8D}
.mouthfil_10_0 {fill:#DEDEDD}

.mouthstr_11_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_11_0 {fill:#1F1A17}
.mouthfil_11_1 {fill:#D49F8D}

.mouthstr_12_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_12_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_12_1 {fill:none}
.mouthfil_12_0 {fill:#1F1A17}
.mouthfil_12_2 {fill:#D49F8D}

.mouthstr_13_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_13_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_13_3 {fill:none}
.mouthfil_13_1 {fill:#1F1A17}
.mouthfil_13_2 {fill:#D49F8D}
.mouthfil_13_0 {fill:#DEDEDD}

.mouthstr_14_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_14_3 {stroke:#1F1A17;stroke-width:50}
.mouthstr_14_2 {stroke:#1F1A17;stroke-width:75}
.mouthstr_14_1 {stroke:#1F1A17;stroke-width:100}
.mouthfil_14_3 {fill:none}
.mouthfil_14_1 {fill:#1F1A17}
.mouthfil_14_0 {fill:#D49F8D}
.mouthfil_14_2 {fill:#DEDEDD}

.mouthstr_15_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_15_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_15_2 {fill:none}
.mouthfil_15_1 {fill:#1F1A17}
.mouthfil_15_3 {fill:#CCA395}
.mouthfil_15_0 {fill:#D49F8D}

.mouthstr_16_1 {stroke:#1F1A17;stroke-width:100}
.mouthstr_16_0 {stroke:#1F1A17;stroke-width:150}
.mouthfil_16_2 {fill:none}
.mouthfil_16_3 {fill:#CCA395}
.mouthfil_16_1 {fill:#D49F8D}
.mouthfil_16_0 {fill:#DEDEDD}

.mouthstr_17_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_17_0 {fill:#1F1A17}
.mouthfil_17_2 {fill:#9E837B}
.mouthfil_17_3 {fill:#CCA395}
.mouthfil_17_1 {fill:#D49F8D}

.mouthstr_18_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_18_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_18_2 {fill:none}
.mouthfil_18_0 {fill:#1F1A17}
.mouthfil_18_1 {fill:#D49F8D}

.mouthstr_19_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_19_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_19_2 {fill:none}
.mouthfil_19_0 {fill:#1F1A17}
.mouthfil_19_3 {fill:#605D5C}
.mouthfil_19_1 {fill:#D49F8D}

.mouthstr_20_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_20_3 {fill:none}
.mouthfil_20_2 {fill:#1F1A17}
.mouthfil_20_1 {fill:#D39886}
.mouthfil_20_0 {fill:#DEDEDD}

.mouthstr_21_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_21_0 {fill:#1F1A17}
.mouthfil_21_2 {fill:#605D5C}
.mouthfil_21_1 {fill:#D39886}

.mouthstr_22_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_22_0 {fill:#1F1A17}
.mouthfil_22_1 {fill:#D39886}

.mouthfil_23_0 {fill:#1F1A17}
.mouthfil_23_1 {fill:#D49F8D}

.mouthstr_24_1 {stroke:#1F1A17;stroke-width:20}
.mouthstr_24_2 {stroke:#1F1A17;stroke-width:50}
.mouthstr_24_0 {stroke:#1F1A17;stroke-width:75}
.mouthfil_24_2 {fill:none}
.mouthfil_24_1 {fill:#969594}
.mouthfil_24_3 {fill:#D49F8D}
.mouthfil_24_0 {fill:#DEDEDD}

.mouthstr_25_0 {stroke:#1F1A17;stroke-width:20}
.mouthfil_25_1 {fill:#1F1A17}
.mouthfil_25_2 {fill:#D39886}
.mouthfil_25_0 {fill:#D49F8D}

.mouthstr_26_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_26_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_26_2 {fill:none}
.mouthfil_26_0 {fill:#1F1A17}
.mouthfil_26_1 {fill:#D49F8D}

.mouthstr_27_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_27_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_27_2 {fill:none}
.mouthfil_27_1 {fill:#1F1A17}
.mouthfil_27_0 {fill:#D49F8D}

.mouthstr_28_0 {stroke:#1F1A17;stroke-width:20}
.mouthstr_28_1 {stroke:#1F1A17;stroke-width:50}
.mouthfil_28_2 {fill:none}
.mouthfil_28_0 {fill:#1F1A17}
.mouthfil_28_1 {fill:#D49F8D}

.mouthstr_29_0 {stroke:#1F1A17;stroke-width:50}
.mouthfil_29_2 {fill:none}
.mouthfil_29_0 {fill:#1F1A17}
.mouthfil_29_1 {fill:#D39886}

.nosestr_0_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_0_1 {fill:#1F1A17}
.nosefil_0_0 {fill:#D49F8D}

.nosestr_1_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_1_1 {fill:#1F1A17}
.nosefil_1_0 {fill:#D49F8D}

.nosestr_2_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_2_1 {fill:#1F1A17}
.nosefil_2_0 {fill:#D49F8D}

.nosestr_3_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_3_1 {fill:#1F1A17}
.nosefil_3_0 {fill:#D49F8D}

.nosestr_4_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_4_1 {fill:none}
.nosefil_4_2 {fill:#1F1A17}
.nosefil_4_0 {fill:#D99E8E}

.nosestr_5_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_5_1 {fill:none}
.nosefil_5_0 {fill:#D99E8E}

.nosestr_6_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_6_1 {fill:#1F1A17}
.nosefil_6_0 {fill:#D49F8D}

.nosestr_7_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_7_1 {fill:#1F1A17}
.nosefil_7_0 {fill:#D49F8D}

.nosefil_8_0 {fill:black}
.nosefil_8_1 {fill:#D49F8D}

.nosefil_9_1 {fill:#1F1A17}
.nosefil_9_0 {fill:#D49F8D}

.nosefil_10_1 {fill:#1F1A17}
.nosefil_10_0 {fill:#D49F8D}

.nosefil_11_1 {fill:#1F1A17}
.nosefil_11_0 {fill:#D49F8D}

.nosestr_12_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_12_1 {fill:#1F1A17}
.nosefil_12_0 {fill:#D49F8D}

.nosefil_13_1 {fill:#1F1A17}
.nosefil_13_0 {fill:#D49F8D}

.nosefil_14_1 {fill:#1F1A17}
.nosefil_14_0 {fill:#D49F8D}

.nosestr_15_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_15_1 {fill:#1F1A17}
.nosefil_15_0 {fill:#D49F8D}

.nosestr_16_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_16_1 {fill:#1F1A17}
.nosefil_16_0 {fill:#D49F8D}

.nosestr_17_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_17_1 {fill:#1F1A17}
.nosefil_17_0 {fill:#D49F8D}

.nosestr_18_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_18_1 {fill:#1F1A17}
.nosefil_18_0 {fill:#D49F8D}

.nosefil_19_1 {fill:#1F1A17}
.nosefil_19_0 {fill:#D49F8D}

.nosestr_20_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_20_1 {fill:none}
.nosefil_20_2 {fill:#1F1A17}
.nosefil_20_0 {fill:#D39886}

.nosestr_21_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_21_1 {fill:#1F1A17}
.nosefil_21_0 {fill:#D49F8D}

.nosestr_22_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_22_1 {fill:#1F1A17}
.nosefil_22_0 {fill:#D49F8D}

.nosestr_23_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_23_1 {fill:#1F1A17}
.nosefil_23_0 {fill:#D49F8D}

.nosefil_24_1 {fill:#1F1A17}
.nosefil_24_0 {fill:#D49F8D}

.nosefil_25_1 {fill:#1F1A17}
.nosefil_25_0 {fill:#D49F8D}

.nosestr_26_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_26_1 {fill:#1F1A17}
.nosefil_26_0 {fill:#D49F8D}

.nosestr_27_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_27_1 {fill:#1F1A17}
.nosefil_27_0 {fill:#D49F8D}

.nosestr_28_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_28_1 {fill:#1F1A17}
.nosefil_28_0 {fill:#D49F8D}

.nosestr_29_0 {stroke:#1F1A17;stroke-width:20}
.nosefil_29_1 {fill:#1F1A17}
.nosefil_29_0 {fill:#D49F8D}

