.eyebrowstr_0_0 {stroke:#332C2B;stroke-width:0.9}
.eyebrowfil_0_0 {fill:#332C2B}

.eyebrowstr_1_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_1_0 {fill:#332C2B}

.eyebrowstr_2_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_2_0 {fill:none}
.eyebrowfil_2_1 {fill:#332C2B}

.eyebrowstr_3_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_3_0 {fill:none}
.eyebrowfil_3_1 {fill:#332C2B}

.eyebrowstr_4_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_4_0 {fill:#332C2B}

.eyebrowstr_5_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_5_0 {fill:#332C2B}

.eyebrowstr_6_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_6_0 {fill:none}
.eyebrowfil_6_1 {fill:#332C2B}

.eyebrowstr_7_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_7_0 {fill:none}
.eyebrowfil_7_1 {fill:#332C2B}

.eyebrowstr_8_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_8_0 {fill:none}
.eyebrowfil_8_1 {fill:#332C2B}

.eyebrowstr_9_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_9_0 {fill:none}
.eyebrowfil_9_1 {fill:#332C2B}

.eyebrowstr_10_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_10_0 {fill:none}
.eyebrowfil_10_1 {fill:#332C2B}

.eyebrowfil_11_0 {fill:#332C2B}

.eyebrowfil_12_0 {fill:none}
.eyebrowfil_12_1 {fill:#332C2B}

.eyebrowfil_13_0 {fill:none}
.eyebrowfil_13_2 {fill:#332C2B}
.eyebrowfil_13_1 {fill:#5B5B5C}

.eyebrowfil_14_0 {fill:#332C2B}

.eyebrowfil_15_0 {fill:none}
.eyebrowfil_15_1 {fill:#2B2C33}
.eyebrowfil_15_2 {fill:#332C2B}

.eyebrowstr_16_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_16_0 {fill:none}
.eyebrowfil_16_1 {fill:#332C2B}
.eyebrowfil_16_2 {fill:#D99E8E}

.eyebrowfil_17_0 {fill:none}
.eyebrowfil_17_1 {fill:#332C2B}

.eyebrowfil_18_0 {fill:none}
.eyebrowfil_18_1 {fill:#332C2B}

.eyebrowstr_19_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_19_0 {fill:#332C2B}

.eyebrowstr_20_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_20_0 {fill:none}
.eyebrowfil_20_1 {fill:#332C2B}

.eyebrowstr_21_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_21_0 {fill:none}
.eyebrowfil_21_1 {fill:#332C2B}

.eyebrowfil_22_0 {fill:#332C2B}

.eyebrowstr_23_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_23_0 {fill:#332C2B}

.eyebrowfil_24_0 {fill:none}
.eyebrowfil_24_1 {fill:#332C2B}

.eyebrowfil_25_0 {fill:#332C2B}

.eyebrowfil_26_0 {fill:#332C2B}

.eyebrowfil_27_0 {fill:#332C2B}

.eyebrowfil_28_0 {fill:none}
.eyebrowfil_28_1 {fill:#332C2B}

.eyebrowfil_29_0 {fill:none}
.eyebrowfil_29_1 {fill:#474443}
.eyebrowfil_29_2 {fill:#D39886}

.eyebrowstr_30_0 {stroke:#332C2B;stroke-width:2.3622}
.eyebrowfil_30_0 {fill:none}
.eyebrowfil_30_1 {fill:#332C2B}

.eyebrowstr_31_0 {stroke:#332C2B;stroke-width:0.899906}
.eyebrowfil_31_0 {fill:none}
.eyebrowfil_31_2 {fill:#332C2B}
.eyebrowfil_31_1 {fill:#FEFEFE}

.eyebrowstr_32_0 {stroke:#332C2B;stroke-width:0.899906}
.eyebrowfil_32_0 {fill:none}
.eyebrowfil_32_1 {fill:#332C2B}

.eyebrowstr_33_0 {stroke:#332C2B;stroke-width:0.9}
.eyebrowfil_33_0 {fill:#332C2B}

.eyebrowstr_34_0 {stroke:#332C2B;stroke-width:0.899906}
.eyebrowfil_34_0 {fill:none}
.eyebrowfil_34_1 {fill:#332C2B}

.eyebrowstr_35_0 {stroke:#332C2B;stroke-width:0.899906}
.eyebrowfil_35_0 {fill:none}
.eyebrowfil_35_1 {fill:#332C2B}

.eyebrowstr_36_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_36_0 {fill:none}
.eyebrowfil_36_1 {fill:#332C2B}

.eyebrowstr_37_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_37_0 {fill:none}
.eyebrowfil_37_1 {fill:#332C2B}

.eyebrowstr_38_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_38_0 {fill:none}
.eyebrowfil_38_1 {fill:#332C2B}

.eyebrowstr_39_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_39_0 {fill:none}
.eyebrowfil_39_1 {fill:#332C2B}

.eyebrowstr_40_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_40_0 {fill:none}
.eyebrowfil_40_1 {fill:#332C2B}

.eyebrowstr_41_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_41_0 {fill:none}
.eyebrowfil_41_1 {fill:#332C2B}

.eyebrowstr_42_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_42_0 {fill:none}
.eyebrowfil_42_1 {fill:#332C2B}

.eyebrowstr_43_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_43_0 {fill:none}
.eyebrowfil_43_1 {fill:#332C2B}

.eyebrowstr_44_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_44_0 {fill:none}
.eyebrowfil_44_1 {fill:#332C2B}

.eyebrowstr_45_0 {stroke:#332C2B;stroke-width:0.755906}
.eyebrowfil_45_0 {fill:none}
.eyebrowfil_45_1 {fill:#332C2B}

.eyestr_0_2 {stroke:#332C2B;stroke-width:5.90551}
.eyestr_0_0 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_0_3 {stroke:#D89688;stroke-width:0.899906}
.eyestr_0_1 {stroke:#332C2B;stroke-width:2.95294}
.eyefil_0_1 {fill:#332C2B}
.eyefil_0_2 {fill:#D89688}
.eyefil_0_0 {fill:#FEFEFE}
.eyefil_0_3 {fill:#332C2B;fill-rule:nonzero}

.eyestr_1_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_1_1 {fill:#332C2B}
.eyefil_1_2 {fill:#D49F8D}
.eyefil_1_0 {fill:#FEFEFE}

.eyestr_2_1 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_2_0 {stroke:#332C2B;stroke-width:0.9}
.eyefil_2_1 {fill:#332C2B}
.eyefil_2_0 {fill:#FEFEFE}

.eyestr_3_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_3_1 {fill:#332C2B}
.eyefil_3_2 {fill:#D49F8D}
.eyefil_3_0 {fill:#FEFEFE}

.eyestr_4_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_4_3 {fill:none}
.eyefil_4_2 {fill:#332C2B}
.eyefil_4_0 {fill:#D99E8E}
.eyefil_4_1 {fill:#FEFEFE}

.eyestr_5_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_5_1 {fill:#332C2B}
.eyefil_5_2 {fill:#D49F8D}
.eyefil_5_0 {fill:#FEFEFE}

.eyestr_6_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_6_2 {fill:#332C2B}
.eyefil_6_0 {fill:#D39886}
.eyefil_6_1 {fill:#FEFEFE}

.eyestr_7_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_7_1 {fill:#332C2B}
.eyefil_7_2 {fill:#D49F8D}
.eyefil_7_0 {fill:#FEFEFE}

.eyestr_8_0 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_8_1 {stroke:#332C2B;stroke-width:2.95294}
.eyefil_8_2 {fill:none}
.eyefil_8_1 {fill:#332C2B}
.eyefil_8_3 {fill:#D49F8D}
.eyefil_8_0 {fill:#FEFEFE}

.eyestr_9_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_9_2 {fill:#332C2B}
.eyefil_9_0 {fill:#D39886}
.eyefil_9_3 {fill:#D49F8D}
.eyefil_9_1 {fill:#FEFEFE}

.eyestr_10_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_10_1 {fill:#332C2B}
.eyefil_10_2 {fill:#D49F8D}
.eyefil_10_0 {fill:#FEFEFE}

.eyestr_11_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_11_0 {fill:none}
.eyefil_11_3 {fill:#332C2B}
.eyefil_11_1 {fill:#D39886}
.eyefil_11_2 {fill:#FEFEFE}

.eyestr_12_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_12_0 {fill:none}
.eyefil_12_2 {fill:#332C2B}
.eyefil_12_3 {fill:#D49F8D}
.eyefil_12_1 {fill:#FEFEFE}

.eyestr_13_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_13_0 {fill:none}
.eyefil_13_3 {fill:#332C2B}
.eyefil_13_1 {fill:#D99E8E}
.eyefil_13_2 {fill:#FEFEFE}

.eyestr_14_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_14_0 {fill:none}
.eyefil_14_3 {fill:#332C2B}
.eyefil_14_1 {fill:#D49F8D}
.eyefil_14_2 {fill:#FEFEFE}

.eyefil_15_0 {fill:none}
.eyefil_15_2 {fill:#332C2B}
.eyefil_15_3 {fill:#D49F8D}
.eyefil_15_1 {fill:#FEFEFE}

.eyestr_16_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_16_0 {fill:none}
.eyefil_16_2 {fill:#332C2B}
.eyefil_16_3 {fill:#D99E8E}
.eyefil_16_1 {fill:#FEFEFE}

.eyestr_17_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_17_0 {fill:none}
.eyefil_17_2 {fill:#332C2B}
.eyefil_17_3 {fill:#D49F8D}
.eyefil_17_1 {fill:#FEFEFE}

.eyefil_18_0 {fill:none}
.eyefil_18_3 {fill:black}
.eyefil_18_4 {fill:#332C2B}
.eyefil_18_1 {fill:#D49F8D}
.eyefil_18_2 {fill:#FEFEFE}

.eyestr_19_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_19_0 {fill:none}
.eyefil_19_3 {fill:#262928}
.eyefil_19_2 {fill:#323534}
.eyefil_19_4 {fill:#332C2B}
.eyefil_19_1 {fill:#F4F3F2}
.eyefil_19_5 {fill:#FEFEFE}

.eyestr_20_0 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_20_1 {stroke:#332C2B;stroke-width:2.95294}
.eyefil_20_0 {fill:none}
.eyefil_20_2 {fill:#332C2B}
.eyefil_20_3 {fill:#D49F8D}
.eyefil_20_1 {fill:#FEFEFE}

.eyestr_21_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_21_0 {fill:none}
.eyefil_21_3 {fill:#332C2B}
.eyefil_21_1 {fill:#D39886}
.eyefil_21_4 {fill:#D49F8D}
.eyefil_21_2 {fill:#FEFEFE}

.eyestr_22_0 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_22_1 {stroke:#332C2B;stroke-width:2.95294}
.eyefil_22_0 {fill:none}
.eyefil_22_2 {fill:#332C2B}
.eyefil_22_3 {fill:#D49F8D}
.eyefil_22_1 {fill:#FEFEFE}

.eyestr_23_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_23_0 {fill:none}
.eyefil_23_3 {fill:#332C2B}
.eyefil_23_1 {fill:#D39886}
.eyefil_23_2 {fill:#FEFEFE}

.eyestr_24_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_24_0 {fill:none}
.eyefil_24_3 {fill:#332C2B}
.eyefil_24_1 {fill:#D39886}
.eyefil_24_2 {fill:#FEFEFE}

.eyestr_25_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_25_0 {fill:none}
.eyefil_25_3 {fill:#332C2B}
.eyefil_25_1 {fill:#D39886}
.eyefil_25_2 {fill:#FEFEFE}

.eyestr_26_0 {stroke:#332C2B;stroke-width:5.90551}
.eyefil_26_2 {fill:none}
.eyefil_26_1 {fill:#332C2B}
.eyefil_26_4 {fill:#D39886}
.eyefil_26_3 {fill:#D49F8D}
.eyefil_26_0 {fill:#FEFEFE}

.eyestr_27_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_27_0 {fill:none}
.eyefil_27_2 {fill:#332C2B}
.eyefil_27_3 {fill:#D49F8D}
.eyefil_27_1 {fill:#FEFEFE}

.eyestr_28_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_28_0 {fill:none}
.eyefil_28_2 {fill:#332C2B}
.eyefil_28_1 {fill:#FEFEFE}

.eyestr_29_0 {stroke:#332C2B;stroke-width:2.3622}
.eyefil_29_0 {fill:none}
.eyefil_29_3 {fill:#332C2B}
.eyefil_29_1 {fill:#D39886}
.eyefil_29_2 {fill:#FEFEFE}

.eyestr_30_0 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_30_1 {stroke:#D49F8D;stroke-width:2.3622}
.eyefil_30_0 {fill:none}
.eyefil_30_3 {fill:#332C2B}
.eyefil_30_2 {fill:#D49F8D}
.eyefil_30_1 {fill:#FEFEFE}
.eyefil_30_4 {fill:#332C2B;fill-rule:nonzero}

.eyestr_31_0 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_31_1 {stroke:#D49F8D;stroke-width:0.899906}
.eyestr_31_3 {stroke:#332C2B;stroke-width:2.3622}
.eyestr_31_2 {stroke:#D49F8D;stroke-width:2.3622}
.eyefil_31_0 {fill:none}
.eyefil_31_4 {fill:#332C2B}
.eyefil_31_2 {fill:#D49F8D}
.eyefil_31_1 {fill:#FEFEFE}
.eyefil_31_3 {fill:#332C2B;fill-rule:nonzero}

.eyestr_32_2 {stroke:#332C2B;stroke-width:5.90551}
.eyestr_32_1 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_32_0 {stroke:#D89688;stroke-width:0.899906}
.eyefil_32_0 {fill:none}
.eyefil_32_2 {fill:#332C2B}
.eyefil_32_1 {fill:#D89688}
.eyefil_32_3 {fill:#FEFEFE}
.eyefil_32_4 {fill:#332C2B;fill-rule:nonzero}

.eyestr_33_1 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_33_0 {stroke:#D89688;stroke-width:0.899906}
.eyefil_33_0 {fill:none}
.eyefil_33_2 {fill:#332C2B}
.eyefil_33_1 {fill:#D89688}
.eyefil_33_3 {fill:#FEFEFE}
.eyefil_33_4 {fill:#332C2B;fill-rule:nonzero}

.eyestr_34_1 {stroke:#332C2B;stroke-width:5.90551}
.eyestr_34_0 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_34_2 {stroke:#D49F8D;stroke-width:0.899906}
.eyefil_34_0 {fill:none}
.eyefil_34_4 {fill:#332C2B}
.eyefil_34_3 {fill:#D49F8D}
.eyefil_34_1 {fill:#FEFEFE}
.eyefil_34_2 {fill:#332C2B;fill-rule:nonzero}

.eyestr_35_0 {stroke:#332C2B;stroke-width:0.899906}
.eyestr_35_1 {stroke:#D49F8D;stroke-width:0.899906}
.eyefil_35_0 {fill:none}
.eyefil_35_3 {fill:#332C2B}
.eyefil_35_2 {fill:#D49F8D}
.eyefil_35_1 {fill:#FEFEFE}
.eyefil_35_4 {fill:#332C2B;fill-rule:nonzero}

.eyestr_36_0 {stroke:#332C2B;stroke-width:0.755906}
.eyefil_36_0 {fill:none}
.eyefil_36_2 {fill:#332C2B}
.eyefil_36_3 {fill:#D49F8D}
.eyefil_36_1 {fill:#FEFEFE}

.eyestr_37_0 {stroke:#332C2B;stroke-width:0.755906}
.eyefil_37_0 {fill:none}
.eyefil_37_2 {fill:#332C2B}
.eyefil_37_3 {fill:#D49F8D}
.eyefil_37_1 {fill:#FEFEFE}

.eyestr_38_0 {stroke:#332C2B;stroke-width:0.755906}
.eyestr_38_1 {stroke:#332C2B;stroke-width:0.288}
.eyefil_38_0 {fill:none}
.eyefil_38_2 {fill:#332C2B}
.eyefil_38_3 {fill:#D49F8D}
.eyefil_38_1 {fill:#FEFEFE}

.eyestr_39_0 {stroke:#332C2B;stroke-width:0.755906}
.eyefil_39_0 {fill:none}
.eyefil_39_2 {fill:#332C2B}
.eyefil_39_3 {fill:#D49F8D}
.eyefil_39_1 {fill:#FEFEFE}

.eyestr_40_0 {stroke:#332C2B;stroke-width:0.755906}
.eyefil_40_0 {fill:none}
.eyefil_40_2 {fill:#332C2B}
.eyefil_40_3 {fill:#D49F8D}
.eyefil_40_1 {fill:#FEFEFE}

.eyestr_41_0 {stroke:#332C2B;stroke-width:0.755906}
.eyefil_41_0 {fill:none}
.eyefil_41_2 {fill:#332C2B}
.eyefil_41_3 {fill:#D49F8D}
.eyefil_41_1 {fill:#FEFEFE}

.eyestr_42_0 {stroke:#332C2B;stroke-width:0.755906}
.eyestr_42_1 {stroke:#332C2B;stroke-width:0.288}
.eyefil_42_0 {fill:none}
.eyefil_42_2 {fill:#332C2B}
.eyefil_42_3 {fill:#D49F8D}
.eyefil_42_1 {fill:#FEFEFE}

.eyestr_43_0 {stroke:#332C2B;stroke-width:0.755906}
.eyestr_43_1 {stroke:#332C2B;stroke-width:0.288}
.eyefil_43_0 {fill:none}
.eyefil_43_3 {fill:#332C2B}
.eyefil_43_1 {fill:#D49F8D}
.eyefil_43_2 {fill:#FEFEFE}

.eyestr_44_0 {stroke:#332C2B;stroke-width:0.755906}
.eyestr_44_1 {stroke:#332C2B;stroke-width:0.288}
.eyefil_44_0 {fill:none}
.eyefil_44_3 {fill:#332C2B}
.eyefil_44_1 {fill:#D49F8D}
.eyefil_44_2 {fill:#FEFEFE}

.eyestr_45_0 {stroke:#332C2B;stroke-width:0.755906}
.eyestr_45_1 {stroke:#332C2B;stroke-width:0.288}
.eyefil_45_0 {fill:none}
.eyefil_45_3 {fill:#332C2B}
.eyefil_45_1 {fill:#D49F8D}
.eyefil_45_2 {fill:#FEFEFE}

.facestr_0_0 {stroke:#332C2B;stroke-width:11.811}
.facestr_0_1 {stroke:#FCCFBC;stroke-width:0.9}
.facefil_0_1 {fill:#FCCFBC}
.facefil_0_0 {fill:#FCE8DD}

.facestr_1_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_1_1 {fill:#FCCFBC}
.facefil_1_0 {fill:#FCE8DD}

.facestr_2_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_2_2 {fill:#D49F8D}
.facefil_2_1 {fill:#FCCFBC}
.facefil_2_0 {fill:#FCE8DD}

.facestr_3_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_3_3 {fill:#332C2B}
.facefil_3_2 {fill:#D49F8D}
.facefil_3_1 {fill:#FCCFBC}
.facefil_3_0 {fill:#FCE8DD}

.facestr_4_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_4_1 {fill:#FCCFBC}
.facefil_4_0 {fill:#FCE8DD}

.facestr_5_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_5_1 {fill:#FCCFBC}
.facefil_5_0 {fill:#FCE8DD}

.facestr_6_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_6_1 {fill:#FCCFBC}
.facefil_6_0 {fill:#FCE8DD}

.facestr_7_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_7_1 {fill:#FCCFBC}
.facefil_7_0 {fill:#FCE8DD}

.facestr_8_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_8_1 {fill:#FCCFBC}
.facefil_8_0 {fill:#FCE8DD}

.facestr_9_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_9_1 {fill:#FCCFBC}
.facefil_9_0 {fill:#FCE8DD}

.facestr_10_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_10_2 {fill:#D49F8D}
.facefil_10_1 {fill:#FCCFBC}
.facefil_10_0 {fill:#FCE8DD}

.facestr_11_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_11_1 {fill:#FCCFBC}
.facefil_11_0 {fill:#FCE8DD}

.facestr_12_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_12_1 {fill:#FCCFBC}
.facefil_12_0 {fill:#FCE8DD}

.facestr_13_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_13_2 {fill:#D99E8E}
.facefil_13_1 {fill:#FCCFBC}
.facefil_13_0 {fill:#FCE8DD}

.facestr_14_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_14_2 {fill:#D49F8D}
.facefil_14_1 {fill:#FCCFBC}
.facefil_14_0 {fill:#FCE8DD}

.facestr_15_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_15_1 {fill:#FCCFBC}
.facefil_15_0 {fill:#FCE8DD}

.facestr_16_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_16_1 {fill:#D99E8E}
.facefil_16_2 {fill:#FCCFBC}
.facefil_16_0 {fill:#FCE8DD}

.facestr_17_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_17_1 {fill:#FCCFBC}
.facefil_17_0 {fill:#FCE8DD}

.facestr_18_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_18_1 {fill:#FCCFBC}
.facefil_18_0 {fill:#FCE8DD}

.facestr_19_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_19_1 {fill:#FCCFBC}
.facefil_19_0 {fill:#FCE8DD}

.facestr_20_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_20_1 {fill:#FCCFBC}
.facefil_20_0 {fill:#FCE8DD}

.facestr_21_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_21_1 {fill:#FCCFBC}
.facefil_21_0 {fill:#FCE8DD}

.facestr_22_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_22_1 {fill:#FCCFBC}
.facefil_22_0 {fill:#FCE8DD}

.facestr_23_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_23_1 {fill:#FCCFBC}
.facefil_23_0 {fill:#FCE8DD}

.facestr_24_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_24_1 {fill:#FCCFBC}
.facefil_24_0 {fill:#FCE8DD}

.facestr_25_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_25_1 {fill:#FCCFBC}
.facefil_25_0 {fill:#FCE8DD}

.facestr_26_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_26_1 {fill:#FCCFBC}
.facefil_26_0 {fill:#FCE8DD}

.facestr_27_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_27_1 {fill:#FCCFBC}
.facefil_27_0 {fill:#FCE8DD}

.facestr_28_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_28_2 {fill:#D39886}
.facefil_28_1 {fill:#FCCFBC}
.facefil_28_0 {fill:#FCE8DD}

.facestr_29_0 {stroke:#332C2B;stroke-width:11.811}
.facefil_29_2 {fill:#D39886}
.facefil_29_1 {fill:#FCCFBC}
.facefil_29_0 {fill:#FCE8DD}

.facestr_30_0 {stroke:#332C2B;stroke-width:11.811}
.facestr_30_1 {stroke:#FCCFBC;stroke-width:2.3622}
.facefil_30_2 {fill:none}
.facefil_30_4 {fill:none;fill-rule:nonzero}
.facefil_30_1 {fill:#FCCFBC}
.facefil_30_0 {fill:#FCE8DD}
.facefil_30_3 {fill:#332C2B;fill-rule:nonzero}

.facestr_31_0 {stroke:#332C2B;stroke-width:17.7165}
.facestr_31_1 {stroke:#FCCFBC;stroke-width:2.3622}
.facefil_31_1 {fill:#FCCFBC}
.facefil_31_0 {fill:#FCE8DD}

.facestr_32_0 {stroke:#332C2B;stroke-width:11.811}
.facestr_32_1 {stroke:#FCCFBC;stroke-width:0.9}
.facefil_32_1 {fill:#FCCFBC}
.facefil_32_0 {fill:#FCE8DD}

.facestr_33_0 {stroke:#332C2B;stroke-width:11.811}
.facestr_33_1 {stroke:#FCCFBC;stroke-width:0.9}
.facefil_33_1 {fill:#FCCFBC}
.facefil_33_0 {fill:#FCE8DD}

.facestr_34_0 {stroke:#332C2B;stroke-width:17.7165}
.facestr_34_1 {stroke:#FCCFBC;stroke-width:0.9}
.facefil_34_1 {fill:#FCCFBC}
.facefil_34_0 {fill:#FCE8DD}

.facestr_35_0 {stroke:#332C2B;stroke-width:11.811}
.facestr_35_1 {stroke:#FCCFBC;stroke-width:0.9}
.facefil_35_1 {fill:#FCCFBC}
.facefil_35_0 {fill:#FCE8DD}

.facestr_36_1 {stroke:#332C2B;stroke-width:3.77953}
.facestr_36_3 {stroke:#332C2B;stroke-width:5.66929}
.facestr_36_0 {stroke:#332C2B;stroke-width:0.755906}
.facestr_36_2 {stroke:#F9CFB9;stroke-width:0.755906}
.facefil_36_0 {fill:none}
.facefil_36_4 {fill:#E29D96}
.facefil_36_1 {fill:#F8EFE4}
.facefil_36_2 {fill:#F9CFB9}
.facefil_36_3 {fill:#FBE9DD}

.facestr_37_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_37_1 {stroke:#332C2B;stroke-width:5.66929}
.facestr_37_2 {stroke:#FCE8DD;stroke-width:0.755906}
.facefil_37_0 {fill:none}
.facefil_37_3 {fill:#E29D96}
.facefil_37_2 {fill:#F9CFB9}
.facefil_37_1 {fill:#FBE9DD}
.facefil_37_5 {fill:#FCCFBC}
.facefil_37_4 {fill:#FCE8DD}

.facestr_38_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_38_1 {stroke:#332C2B;stroke-width:5.66929}
.facestr_38_2 {stroke:#F8ECE3;stroke-width:0.755906}
.facefil_38_0 {fill:none}
.facefil_38_3 {fill:#E29D96}
.facefil_38_4 {fill:#F8ECE3}
.facefil_38_2 {fill:#F9CFB9}
.facefil_38_1 {fill:#FBE9DD}
.facefil_38_5 {fill:#FCCFBC}

.facestr_39_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_39_1 {stroke:#332C2B;stroke-width:5.66929}
.facestr_39_2 {stroke:#F8ECE3;stroke-width:0.755906}
.facefil_39_0 {fill:none}
.facefil_39_3 {fill:#E29D96}
.facefil_39_4 {fill:#F8ECE3}
.facefil_39_2 {fill:#F9CFB9}
.facefil_39_1 {fill:#FBE9DD}
.facefil_39_5 {fill:#FCCFBC}

.facestr_40_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_40_1 {stroke:#332C2B;stroke-width:5.66929}
.facestr_40_2 {stroke:#FBE9DD;stroke-width:0.755906}
.facefil_40_0 {fill:none}
.facefil_40_3 {fill:#E29D96}
.facefil_40_2 {fill:#F9CFB9}
.facefil_40_1 {fill:#FBE9DD}

.facestr_41_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_41_1 {stroke:#332C2B;stroke-width:5.66929}
.facestr_41_2 {stroke:#FBE9DD;stroke-width:0.755906}
.facefil_41_0 {fill:none}
.facefil_41_3 {fill:#E29D96}
.facefil_41_2 {fill:#F9CFB9}
.facefil_41_1 {fill:#FBE9DD}

.facestr_42_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_42_2 {stroke:#332C2B;stroke-width:5.66929}
.facestr_42_1 {stroke:#F8EFE4;stroke-width:0.755906}
.facefil_42_0 {fill:none}
.facefil_42_4 {fill:#E29D96}
.facefil_42_1 {fill:#F8EFE4}
.facefil_42_2 {fill:#F9CFB9}
.facefil_42_3 {fill:#FBE9DD}

.facestr_43_2 {stroke:#332C2B;stroke-width:3.77953}
.facestr_43_3 {stroke:#332C2B;stroke-width:5.66929}
.facestr_43_0 {stroke:#332C2B;stroke-width:0.755906}
.facestr_43_1 {stroke:#F8EFE4;stroke-width:0.755906}
.facefil_43_0 {fill:none}
.facefil_43_4 {fill:#E29D96}
.facefil_43_1 {fill:#F8EFE4}
.facefil_43_2 {fill:#F9CFB9}
.facefil_43_3 {fill:#FBE9DD}

.facestr_44_0 {stroke:#332C2B;stroke-width:3.77953}
.facestr_44_2 {stroke:#332C2B;stroke-width:5.66929}
.facestr_44_1 {stroke:#F8EFE4;stroke-width:0.755906}
.facefil_44_0 {fill:none}
.facefil_44_4 {fill:#E29D96}
.facefil_44_1 {fill:#F8EFE4}
.facefil_44_2 {fill:#F9CFB9}
.facefil_44_3 {fill:#FBE9DD}

.facestr_45_2 {stroke:#332C2B;stroke-width:3.77953}
.facestr_45_3 {stroke:#332C2B;stroke-width:5.66929}
.facestr_45_0 {stroke:#332C2B;stroke-width:0.755906}
.facestr_45_1 {stroke:#F9CFB9;stroke-width:0.755906}
.facefil_45_0 {fill:none}
.facefil_45_3 {fill:#E29D96}
.facefil_45_2 {fill:#F9CFB9}
.facefil_45_1 {fill:#FBE9DD}

.hairstr_0_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_0_0 {fill:#332C2B}

.hairstr_1_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_1_0 {fill:#332C2B}
.hairfil_1_1 {fill:#5B5B5C}

.hairstr_2_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_2_0 {fill:#332C2B}
.hairfil_2_1 {fill:#5B5B5C}

.hairstr_3_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_3_0 {fill:#332C2B}

.hairstr_4_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_4_0 {fill:#332C2B}
.hairfil_4_1 {fill:#5B5B5C}

.hairstr_5_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_5_1 {fill:#332C2B}
.hairfil_5_0 {fill:#5F5D5D}

.hairstr_6_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_6_0 {fill:#332C2B}
.hairfil_6_1 {fill:#5B5B5C}

.hairstr_7_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_7_0 {fill:#332C2B}
.hairfil_7_1 {fill:#5B5B5C}

.hairstr_8_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_8_0 {fill:#332C2B}

.hairstr_9_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_9_1 {fill:#332C2B}
.hairfil_9_0 {fill:#5B5B5C}

.hairstr_10_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_10_0 {fill:#332C2B}

.hairstr_11_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_11_0 {fill:#332C2B}
.hairfil_11_1 {fill:#5B5B5C}

.hairstr_12_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_12_0 {fill:#332C2B}
.hairfil_12_1 {fill:#5B5B5C}

.hairstr_13_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_13_0 {fill:#332C2B}
.hairfil_13_1 {fill:#5B5B5C}

.hairstr_14_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_14_0 {fill:#332C2B}
.hairfil_14_1 {fill:#5B5B5C}

.hairstr_15_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_15_1 {fill:#332C2B}
.hairfil_15_0 {fill:#5B5B5C}

.hairstr_16_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_16_0 {fill:#332C2B}
.hairfil_16_1 {fill:#5B5B5C}

.hairstr_17_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_17_0 {fill:#332C2B}
.hairfil_17_1 {fill:#5B5B5C}

.hairstr_18_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_18_1 {fill:#211B18}
.hairfil_18_0 {fill:#332C2B}
.hairfil_18_2 {fill:#453C38}

.hairstr_19_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_19_0 {fill:#2A2F2F}
.hairfil_19_4 {fill:#595959}
.hairfil_19_2 {fill:#5B5B5C}
.hairfil_19_1 {fill:#787873}
.hairfil_19_3 {fill:#797670}

.hairstr_20_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_20_0 {fill:#332C2B}
.hairfil_20_1 {fill:#5B5B5C}

.hairstr_21_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_21_0 {fill:#332C2B}
.hairfil_21_1 {fill:#5B5B5C}

.hairstr_22_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_22_0 {fill:#332C2B}
.hairfil_22_1 {fill:#5B5B5C}

.hairstr_23_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_23_0 {fill:#332C2B}
.hairfil_23_1 {fill:#5B5B5C}

.hairstr_24_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_24_0 {fill:#332C2B}
.hairfil_24_1 {fill:#5B5B5C}

.hairstr_25_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_25_0 {fill:#332C2B}
.hairfil_25_1 {fill:#5B5B5C}

.hairstr_26_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_26_0 {fill:#332C2B}
.hairfil_26_1 {fill:#5B5B5C}

.hairstr_27_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_27_0 {fill:#332C2B}
.hairfil_27_1 {fill:#5B5B5C}

.hairstr_28_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_28_0 {fill:#332C2B}
.hairfil_28_1 {fill:#5B5B5C}

.hairstr_29_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_29_0 {fill:#332C2B}
.hairfil_29_1 {fill:#5B5B5C}

.hairstr_30_0 {stroke:#332C2B;stroke-width:2.3622}
.hairfil_30_0 {fill:#332C2B}

.hairstr_31_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_31_0 {fill:#332C2B}

.hairstr_32_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_32_0 {fill:black}

.hairstr_33_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_33_0 {fill:black}

.hairstr_34_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_34_0 {fill:#332C2B}

.hairstr_35_0 {stroke:#332C2B;stroke-width:0.9}
.hairfil_35_0 {fill:#332C2B}

.hairstr_36_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_36_0 {fill:none}
.hairfil_36_1 {fill:#332C2B}

.hairstr_37_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_37_0 {fill:none}
.hairfil_37_1 {fill:#332C2B}

.hairstr_38_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_38_0 {fill:none}
.hairfil_38_1 {fill:#332C2B}

.hairstr_39_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_39_0 {fill:none}
.hairfil_39_1 {fill:#332C2B}

.hairstr_40_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_40_0 {fill:none}
.hairfil_40_1 {fill:#332C2B}

.hairstr_41_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_41_0 {fill:none}
.hairfil_41_1 {fill:#332C2B}

.hairstr_42_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_42_0 {fill:none}
.hairfil_42_1 {fill:#332C2B}

.hairstr_43_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_43_0 {fill:none}
.hairfil_43_1 {fill:#332C2B}

.hairstr_44_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_44_0 {fill:none}
.hairfil_44_1 {fill:#332C2B}

.hairstr_45_0 {stroke:#332C2B;stroke-width:0.755906}
.hairfil_45_0 {fill:none}
.hairfil_45_1 {fill:#332C2B}

.mouthstr_0_0 {stroke:#332C2B;stroke-width:11.811}
.mouthfil_0_0 {fill:none}
.mouthfil_0_1 {fill:#332C2B}

.mouthstr_1_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_1_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_1_2 {fill:none}
.mouthfil_1_0 {fill:#332C2B}
.mouthfil_1_1 {fill:#D49F8D}

.mouthstr_2_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_2_0 {fill:#332C2B}
.mouthfil_2_1 {fill:#D49F8D}

.mouthstr_3_1 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_3_0 {stroke:#332C2B;stroke-width:17.7165}
.mouthfil_3_2 {fill:none}
.mouthfil_3_3 {fill:#CCA395}
.mouthfil_3_1 {fill:#D49F8D}
.mouthfil_3_0 {fill:#EEEEEF}

.mouthstr_4_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_4_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_4_2 {fill:none}
.mouthfil_4_1 {fill:#332C2B}
.mouthfil_4_3 {fill:#CCA395}
.mouthfil_4_0 {fill:#D49F8D}

.mouthstr_5_1 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_5_2 {stroke:#332C2B;stroke-width:8.85827}
.mouthstr_5_3 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_5_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_5_3 {fill:none}
.mouthfil_5_1 {fill:#332C2B}
.mouthfil_5_0 {fill:#D49F8D}
.mouthfil_5_2 {fill:#EEEEEF}

.mouthstr_6_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_6_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_6_1 {fill:none}
.mouthfil_6_0 {fill:#332C2B}
.mouthfil_6_2 {fill:#D49F8D}

.mouthstr_7_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_7_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_7_3 {fill:none}
.mouthfil_7_1 {fill:#332C2B}
.mouthfil_7_2 {fill:#D49F8D}
.mouthfil_7_0 {fill:#EEEEEF}

.mouthstr_8_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_8_0 {fill:#332C2B}
.mouthfil_8_1 {fill:#D49F8D}

.mouthstr_9_0 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_9_1 {stroke:#332C2B;stroke-width:8.85827}
.mouthfil_9_2 {fill:none}
.mouthfil_9_3 {fill:#332C2B}
.mouthfil_9_1 {fill:#D49F8D}
.mouthfil_9_0 {fill:#EEEEEF}

.mouthstr_10_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_10_0 {fill:#332C2B}
.mouthfil_10_1 {fill:#D49F8D}

.mouthstr_11_0 {stroke:#332C2B;stroke-width:5.90551}
.mouthfil_11_2 {fill:none}
.mouthfil_11_0 {fill:#332C2B}
.mouthfil_11_1 {fill:#D39886}

.mouthstr_12_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_12_1 {fill:#332C2B}
.mouthfil_12_2 {fill:#3B2F2B}
.mouthfil_12_0 {fill:#D49F8D}

.mouthstr_13_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_13_1 {fill:#332C2B}
.mouthfil_13_0 {fill:#D49F8D}
.mouthfil_13_2 {fill:#D99E8E}

.mouthstr_14_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_14_2 {fill:none}
.mouthfil_14_1 {fill:#332C2B}
.mouthfil_14_0 {fill:#D99E8E}

.mouthstr_15_0 {stroke:#332C2B;stroke-width:5.90551}
.mouthfil_15_2 {fill:none}
.mouthfil_15_0 {fill:#332C2B}
.mouthfil_15_1 {fill:#D39886}
.mouthfil_15_3 {fill:#D49F8D}

.mouthfil_16_1 {fill:#332C2B}
.mouthfil_16_2 {fill:#A1A1A1}
.mouthfil_16_0 {fill:#D99E8E}

.mouthstr_17_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_17_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_17_2 {fill:none}
.mouthfil_17_0 {fill:#332C2B}
.mouthfil_17_1 {fill:#D49F8D}

.mouthstr_18_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_18_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_18_2 {fill:none}
.mouthfil_18_0 {fill:#332C2B}
.mouthfil_18_1 {fill:#D39886}

.mouthstr_19_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_19_0 {stroke:#332C2B;stroke-width:1.1811}
.mouthfil_19_2 {fill:none}
.mouthfil_19_0 {fill:#343837}
.mouthfil_19_1 {fill:#D39886}

.mouthstr_20_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_20_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_20_2 {fill:none}
.mouthfil_20_0 {fill:#332C2B}
.mouthfil_20_1 {fill:#D49F8D}

.mouthstr_21_0 {stroke:#332C2B;stroke-width:8.85827}
.mouthstr_21_2 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_21_1 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_21_2 {fill:none}
.mouthfil_21_1 {fill:#B6B6B7}
.mouthfil_21_3 {fill:#D49F8D}
.mouthfil_21_0 {fill:#EEEEEF}

.mouthstr_22_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_22_1 {fill:#332C2B}
.mouthfil_22_2 {fill:#D39886}
.mouthfil_22_0 {fill:#D49F8D}

.mouthstr_23_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_23_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_23_2 {fill:none}
.mouthfil_23_0 {fill:#332C2B}
.mouthfil_23_1 {fill:#D49F8D}

.mouthstr_24_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_24_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_24_2 {fill:none}
.mouthfil_24_1 {fill:#332C2B}
.mouthfil_24_0 {fill:#D49F8D}

.mouthstr_25_1 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_25_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_25_2 {fill:none}
.mouthfil_25_0 {fill:#332C2B}
.mouthfil_25_1 {fill:#D49F8D}

.mouthfil_26_0 {fill:#332C2B}
.mouthfil_26_1 {fill:#D49F8D}

.mouthstr_27_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_27_0 {fill:#332C2B}
.mouthfil_27_1 {fill:#D39886}

.mouthstr_28_0 {stroke:#332C2B;stroke-width:2.3622}
.mouthfil_28_0 {fill:#332C2B}
.mouthfil_28_1 {fill:#D39886}

.mouthstr_29_0 {stroke:#332C2B;stroke-width:2.36221}
.mouthfil_29_0 {fill:none}
.mouthfil_29_3 {fill:#332C2B}
.mouthfil_29_2 {fill:#D39886}
.mouthfil_29_1 {fill:#EEEEEF}

.mouthstr_30_0 {stroke:#332C2B;stroke-width:8.85827}
.mouthstr_30_3 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_30_1 {stroke:#332C2B;stroke-width:2.3622}
.mouthstr_30_2 {stroke:#D49F8D;stroke-width:2.3622}
.mouthfil_30_0 {fill:none}
.mouthfil_30_1 {fill:#332C2B}
.mouthfil_30_2 {fill:#D49F8D}
.mouthfil_30_3 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_31_0 {stroke:#332C2B;stroke-width:17.7165}
.mouthstr_31_1 {stroke:#D49F8D;stroke-width:0.9}
.mouthfil_31_0 {fill:none}
.mouthfil_31_1 {fill:#332C2B}
.mouthfil_31_2 {fill:#D49F8D}
.mouthfil_31_3 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_32_0 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_32_1 {stroke:#332C2B;stroke-width:0.9}
.mouthstr_32_2 {stroke:#D49F8D;stroke-width:0.9}
.mouthfil_32_0 {fill:none}
.mouthfil_32_1 {fill:#332C2B}
.mouthfil_32_2 {fill:#D49F8D}
.mouthfil_32_3 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_33_0 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_33_4 {stroke:#332C2B;stroke-width:5.90551}
.mouthstr_33_3 {stroke:#332C2B;stroke-width:29.5276}
.mouthstr_33_1 {stroke:#332C2B;stroke-width:0.9}
.mouthstr_33_2 {stroke:#D89688;stroke-width:0.9}
.mouthfil_33_0 {fill:none}
.mouthfil_33_1 {fill:#332C2B}
.mouthfil_33_3 {fill:#D39886}
.mouthfil_33_2 {fill:#D89688}
.mouthfil_33_4 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_34_0 {stroke:#332C2B;stroke-width:17.7165}
.mouthstr_34_1 {stroke:#D39886;stroke-width:0.9}
.mouthfil_34_0 {fill:none}
.mouthfil_34_1 {fill:#332C2B}
.mouthfil_34_2 {fill:#D39886}
.mouthfil_34_3 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_35_0 {stroke:#332C2B;stroke-width:11.811}
.mouthstr_35_1 {stroke:#332C2B;stroke-width:8.85827}
.mouthstr_35_2 {stroke:#D39886;stroke-width:0.9}
.mouthfil_35_0 {fill:none}
.mouthfil_35_1 {fill:#332C2B}
.mouthfil_35_2 {fill:#D39886}
.mouthfil_35_3 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_36_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthfil_36_0 {fill:none}
.mouthfil_36_1 {fill:#D49F8D}
.mouthfil_36_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_37_0 {stroke:#332C2B;stroke-width:1.88976}
.mouthstr_37_1 {stroke:#332C2B;stroke-width:4.91339}
.mouthfil_37_0 {fill:none}
.mouthfil_37_1 {fill:#D49F8D}
.mouthfil_37_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_38_0 {stroke:#332C2B;stroke-width:3.77953}
.mouthstr_38_1 {stroke:#332C2B;stroke-width:7.55906}
.mouthfil_38_0 {fill:none}
.mouthfil_38_1 {fill:#D49F8D}

.mouthstr_39_2 {stroke:#CCA395;stroke-width:0.755906;stroke-opacity:0.501961}
.mouthstr_39_0 {stroke:#332C2B;stroke-width:3.77953}
.mouthstr_39_1 {stroke:#332C2B;stroke-width:5.66929}
.mouthfil_39_0 {fill:none}
.mouthfil_39_1 {fill:#D49F8D}
.mouthfil_39_2 {fill:#CCA395;fill-opacity:0.501961}

.mouthstr_40_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthfil_40_0 {fill:none}
.mouthfil_40_2 {fill:#D49F8D}
.mouthfil_40_1 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_41_1 {stroke:#332C2B;stroke-width:3.77953}
.mouthstr_41_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthfil_41_0 {fill:none}
.mouthfil_41_1 {fill:#D49F8D}
.mouthfil_41_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_42_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthfil_42_0 {fill:none}
.mouthfil_42_1 {fill:#D49F8D}
.mouthfil_42_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_43_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthstr_43_1 {stroke:#332C2B;stroke-width:4.91339}
.mouthfil_43_0 {fill:none}
.mouthfil_43_1 {fill:#D49F8D}
.mouthfil_43_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_44_1 {stroke:#332C2B;stroke-width:3.77953}
.mouthstr_44_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthfil_44_0 {fill:none}
.mouthfil_44_1 {fill:#D49F8D}
.mouthfil_44_2 {fill:#332C2B;fill-rule:nonzero}

.mouthstr_45_0 {stroke:#332C2B;stroke-width:2.83465}
.mouthstr_45_1 {stroke:#332C2B;stroke-width:0.755906}
.mouthfil_45_0 {fill:none}
.mouthfil_45_3 {fill:#332C2B}
.mouthfil_45_2 {fill:#D49F8D}
.mouthfil_45_1 {fill:#332C2B;fill-rule:nonzero}

.nosestr_0_1 {stroke:#332C2B;stroke-width:0.9}
.nosestr_0_0 {stroke:#D89688;stroke-width:0.9}
.nosefil_0_1 {fill:#332C2B}
.nosefil_0_0 {fill:#D89688}

.nosestr_1_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_1_1 {fill:#332C2B}
.nosefil_1_0 {fill:#D49F8D}

.nosestr_2_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_2_1 {fill:#332C2B}
.nosefil_2_0 {fill:#D49F8D}

.nosestr_3_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_3_1 {fill:#332C2B}
.nosefil_3_0 {fill:#D49F8D}

.nosestr_4_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_4_1 {fill:#332C2B}
.nosefil_4_0 {fill:#D49F8D}

.nosefil_5_1 {fill:#332C2B}
.nosefil_5_0 {fill:#D49F8D}

.nosestr_6_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_6_1 {fill:#332C2B}
.nosefil_6_0 {fill:#D49F8D}

.nosefil_7_1 {fill:#332C2B}
.nosefil_7_0 {fill:#D49F8D}

.nosefil_8_1 {fill:#332C2B}
.nosefil_8_0 {fill:#D49F8D}

.nosefil_9_1 {fill:#332C2B}
.nosefil_9_0 {fill:#D49F8D}

.nosefil_10_1 {fill:#332C2B}
.nosefil_10_0 {fill:#D49F8D}

.nosestr_11_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_11_1 {fill:#332C2B}
.nosefil_11_0 {fill:#D49F8D}

.nosestr_12_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_12_1 {fill:#332C2B}
.nosefil_12_0 {fill:#D49F8D}

.nosestr_13_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_13_1 {fill:#332C2B}
.nosefil_13_0 {fill:#D49F8D}

.nosestr_14_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_14_1 {fill:#332C2B}
.nosefil_14_0 {fill:#D49F8D}

.nosestr_15_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_15_1 {fill:#332C2B}
.nosefil_15_0 {fill:#D49F8D}

.nosestr_16_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_16_1 {fill:none}
.nosefil_16_2 {fill:#332C2B}
.nosefil_16_0 {fill:#D99E8E}

.nosestr_17_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_17_1 {fill:#332C2B}
.nosefil_17_0 {fill:#D49F8D}

.nosestr_18_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_18_1 {fill:#332C2B}
.nosefil_18_0 {fill:#D49F8D}

.nosestr_19_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_19_1 {fill:#332C2B}
.nosefil_19_0 {fill:#D49F8D}

.nosefil_20_1 {fill:#332C2B}
.nosefil_20_0 {fill:#D49F8D}

.nosefil_21_1 {fill:#332C2B}
.nosefil_21_0 {fill:#D49F8D}

.nosefil_22_0 {fill:none}
.nosefil_22_2 {fill:#332C2B}
.nosefil_22_1 {fill:#D49F8D}

.nosestr_23_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_23_1 {fill:#332C2B}
.nosefil_23_0 {fill:#D49F8D}

.nosestr_24_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_24_1 {fill:#332C2B}
.nosefil_24_0 {fill:#D49F8D}

.nosestr_25_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_25_1 {fill:#332C2B}
.nosefil_25_0 {fill:#D49F8D}

.nosestr_26_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_26_1 {fill:#332C2B}
.nosefil_26_0 {fill:#D49F8D}

.nosestr_27_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_27_1 {fill:#332C2B}
.nosefil_27_0 {fill:#D49F8D}

.nosestr_28_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_28_1 {fill:#332C2B}
.nosefil_28_0 {fill:#D49F8D}

.nosestr_29_0 {stroke:#332C2B;stroke-width:2.36221}
.nosefil_29_0 {fill:none}
.nosefil_29_2 {fill:#332C2B}
.nosefil_29_1 {fill:#D39886}

.nosestr_30_0 {stroke:#332C2B;stroke-width:2.3622}
.nosefil_30_1 {fill:#332C2B}
.nosefil_30_0 {fill:#D49F8D}

.nosestr_31_1 {stroke:#332C2B;stroke-width:0.9}
.nosestr_31_0 {stroke:#D49F8D;stroke-width:0.9}
.nosefil_31_1 {fill:#332C2B}
.nosefil_31_0 {fill:#D49F8D}

.nosestr_32_1 {stroke:#332C2B;stroke-width:0.9}
.nosestr_32_0 {stroke:#D89688;stroke-width:0.9}
.nosefil_32_1 {fill:#332C2B}
.nosefil_32_0 {fill:#D89688}

.nosestr_33_0 {stroke:#332C2B;stroke-width:0.9}
.nosefil_33_1 {fill:#332C2B}
.nosefil_33_0 {fill:#D89688}

.nosestr_34_1 {stroke:#332C2B;stroke-width:0.9}
.nosestr_34_0 {stroke:#D49F8D;stroke-width:0.9}
.nosefil_34_1 {fill:#332C2B}
.nosefil_34_0 {fill:#D49F8D}

.nosestr_35_1 {stroke:#332C2B;stroke-width:0.9}
.nosestr_35_0 {stroke:#D39886;stroke-width:0.9}
.nosefil_35_1 {fill:#332C2B}
.nosefil_35_0 {fill:#D39886}

.nosestr_36_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_36_0 {fill:none}
.nosefil_36_2 {fill:#332C2B}
.nosefil_36_1 {fill:#D49F8D}

.nosestr_37_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_37_0 {fill:none}
.nosefil_37_2 {fill:#332C2B}
.nosefil_37_1 {fill:#D49F8D}

.nosestr_38_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_38_0 {fill:none}
.nosefil_38_2 {fill:#332C2B}
.nosefil_38_1 {fill:#D49F8D}

.nosestr_39_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_39_0 {fill:none}
.nosefil_39_2 {fill:#332C2B}
.nosefil_39_1 {fill:#D49F8D}

.nosestr_40_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_40_0 {fill:none}
.nosefil_40_2 {fill:#332C2B}
.nosefil_40_1 {fill:#D49F8D}

.nosestr_41_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_41_0 {fill:none}
.nosefil_41_2 {fill:#332C2B}
.nosefil_41_1 {fill:#D49F8D}

.nosestr_42_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_42_0 {fill:none}
.nosefil_42_2 {fill:#332C2B}
.nosefil_42_1 {fill:#D49F8D}

.nosestr_43_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_43_0 {fill:none}
.nosefil_43_2 {fill:#332C2B}
.nosefil_43_1 {fill:#D49F8D}

.nosestr_44_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_44_0 {fill:none}
.nosefil_44_2 {fill:#332C2B}
.nosefil_44_1 {fill:#D49F8D}

.nosestr_45_0 {stroke:#332C2B;stroke-width:0.755906}
.nosefil_45_0 {fill:none}
.nosefil_45_2 {fill:#332C2B}
.nosefil_45_1 {fill:#D49F8D}

.str1 {stroke:#1F1A17;stroke-width:2.66684}
.str0 {stroke:#1F1A17;stroke-width:0.755906}
.fil2 {fill:#90633C}
.fil0 {fill:#957F66}
.fil5 {fill:#C03A2C}
.fil3 {fill:#C0A062}
.fil4 {fill:#DB4B41}
.fil7 {fill:#EFF1E3}
.fil6 {fill:#F8C300}
.fil1 {fill:white}